{% extends "application.html" %}
{% block body %}
<div class="container col-sm-8">
    <h1 style="text-align: center;">Edit Post</h1>   
    <form method="post" enctype="multipart/form-data">
        <!-- creates a token to protect the form from CSRF attack -->
        {{ edit_post_form.hidden_tag() }}
        <div class="form-group">
            {{ edit_post_form.title.label}}<br>
            {{ edit_post_form.title(class_="form-control", size=48) }}
            {% for error in edit_post_form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ edit_post_form.body.label }}<br>
            {{ edit_post_form.body(class_="form-control", cols=50, rows=4) }}
            {% for error in edit_post_form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ edit_post_form.category.label }}<br>
            {{ edit_post_form.category }}
            {% for error in edit_post_form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ edit_post_form.image }}
            {% for error in edit_post_form.image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        {{ edit_post_form.submit(class_="btn btn-primary") }}
    </form>
</div>
{% endblock %}
 