<header class="fixed-top">
    <div style="background-color: black; color: white; padding: 5px;">
        SFSU Software Engineering Project CSC 648-848, Fall 2019. For Demonstration Only
    </div>
    <!-- NAVBAR (logo, searchbar, sell-button and menu)-->
    <div class="container-fluid" style="padding: 0px;">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="main-nav">

            <!-- Logo -->

            <a class="btn" href="/"><img src="{{ url_for('static', filename='SFSU_Quad_logo_rounded_mini.png')}}" class="navbar-brand p-0"
                    width="50" height="50"></a>

            <!-- Hamburger (instead of menu, for smaller screens) -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Search bar-->
                <form action="/search" class="col-lg-7 offset-lg-2 my-2" method="post">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="form-control custom-select" name="category">
                                {% for cat in category %}
                                <option> {{cat}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Search" name="search" value={{query}}>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-warning">Search</button>
                        </div>
                    </div>
                </form>

                <!-- Menu Items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('create_post') }}" class="nav-link btn btn-outline-warning mr-lg-4 my-2">Sell</a>
                    </li>
                    {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a href="#" class="nav-link btn btn-outline-primary mr-lg-2 my-2" data-toggle="modal" data-target="#loginModal">Log
                                In</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('user', username=current_user.username) }}" class="nav-link btn btn-outline-primary mr-lg-2 my-2">Profile</a>
                        </li>
                        <li>
                            <a href ="{{ url_for('logout') }}" class="nav-link btn btn-outline-primary mr-lg-2 my-2">Logout</a>
                        </li>
                    {% endif %}}
                    <li class="nav-item">
                        <a href="/about" class="nav-link btn btn-outline-primary mr-lg-2 my-2">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'login.html' %}
            </div>
            <div class="modal-footer justify-content-between">
                <a href="/register">Sign Up Here!</a>
                <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>