{% extends 'application.html' %}
{% block body %}
<!-- BANNER SECTION -->
<!-- This sections utilizes Bootstrap's grid and cards -->
<section id="about-section" class="bg-light py-5">
    <div class="container">
        <div class="py-5">
            <div class="container">
                <div class="row hidden-md-up">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="https://i.ibb.co/Zh2v3CW/10-Fake-Love-Remix-3.jpg"
                                alt="Card image">
                            <div class="card-block">
                                <h4 class="card-title">Emanuel</h4>
                                <h6 class="card-subtitle text-muted">Back-End Lead</h6>
                                <br>
                                <p class="card-text p-y-1">Emanuel is a Senior at San Francisco State University. His
                                    hobbies include making music, gaming, and learning about how things work.</p>
                                <br>
                                <p class="card-text p-y-1">Emanuel@sfsulist.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}