{% extends 'application.html' %}
  {% block body %}
    <section id="about-section" class="bg-light py-5">
        <div class="container">
            <div class="py-5">
                <div class="container">
                    <div class="row hidden-md-up">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="/static/Andrew_Profile.jpg" alt="Card image">
                                <div class="card-block">
                                    <h4 class="card-title">Andrew Copas</h4>
                                    <h6 class="card-subtitle text-muted">Front End</h6>
                                    <h7>Andrew is a senior at SFSU. An avid Backpacker, Andrew usually spends three to
                                        four weeks in the Back country every year.</h7>
                                    <h8>He is a frontend team member working with Bootstrap.</h8>
                                    <br><br>
                                    <p class="card-text p-y-1">andrew@sfsulist.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}