{% extends 'application.html' %}
{% block body %}
<!-- BANNER SECTION -->
<!-- This sections utilizes Bootstrap's grid and cards -->
<section id="about-section" class="bg-light py-5">
    <div class="container">
        <div class="py-5">
            <div class="container">
                <div class="row hidden-md-up">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/default_logo.png" alt="Card image">
                            <div class="card-block">
                                <h4 class="card-title">Alex Lee</h4>
                                <h6 class="card-subtitle text-muted">Front-End</h6>
                                <br>
                                <p class="card-text p-y-1">Alex is a Masters student at SFSU. He is passionate about
                                    music, technology and is an auto enthusiast.</p>
                                <br>
                                <p class="card-text p-y-1">alee54@mail.sfsulist.edu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}