{% extends 'application.html' %}
{% block body %}
<!-- BANNER SECTION -->
<!-- This sections utilizes Bootstrap's grid and cards -->
<section id="about-section" class="bg-light py-5">
  <div class="container">
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="/static/KevinProfile.jpg" alt="Card image">
              <div class="card-block">
                <h4 class="card-title">Kevin Truong</h4>
                <h6 class="card-subtitle text-muted">Back End</h6>
                <h7>Kevin is a senior at SFSU. He is an avid hockey fan, competitive Smash player, and an aspiring game
                  developer.</h7>
                <h8>He is a backend team member working with python Flask and mySQL.</h8>
                <br><br>
                <p class="card-text p-y-1">kevin@sfsulist.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}